<ion-view view-title="账号" hide-nav-bar="true">
<style>
	.box{
		width:1rem;
		height:0.5rem;
		border:1px solid #D2D2D5;
		border-radius:20px;
		color:#D2D2D5;
		text-align:center;
		font-size:0.4rem;
		line-height:0.5rem;
		
	}
	.btn{
		width:2rem;
		height:0.7rem;
		float:right;
		margin-top:-1rem;
		border:1px solid #D2D2D5;
		border-radius:20px;
		font-size:0.5rem;
		text-align:center;
	}
	
</style>
	<div class="bar bar-header bar-assertive item item-icon-right">
		<h1 class="title">账号</h1>
		<i class="icon ion-stats-bars"></i>
	</div>
	<ion-content class="has-header" style="background:#F2F2F2">
		<div class="item item-avatar href="#"">
			<img src="img/gufeng2.jpg"/>
			<h3>墨墨-花雨蒂</h3>
			<p class="box">Lv.4</p>
			<div class="btn">
				<p>已签到</p>
			</div>
		</div>
		<div class="row" style="text-align:center;background:white;">
			<div class="col col-25">
				<p style="margin:0;color:#7A7A7A;">动态</p>
				<p>0</p>
			</div>|
			<div class="col col-25">
				<p style="margin:0;color:#7A7A7A;">关注</p>
				<p>6</p>
			</div>|
			<div class="col col-25">
				<p style="margin:0;color:#7A7A7A;">粉丝</p>
				<p>1</p>
			</div>|
			<div class="col col-25">
				<i class="icon ion-edit" style="color:#7A7A7A"></i>
				<p style="color:#7A7A7A;">我的资料</p>
			</div>
		</div>
		<div class="list">
			<a class="item item-icon-left item-icon-right" href="#" style="padding:0.5rem;padding-left:1.8rem;margin-top:0.2rem;border:0;">
    			<i class="icon ion-email" style="color:#7A7A7A;"></i>
    			我的消息
    			<i class="icon ion-ios-arrow-right" style="color:#D2D2D5;"></i>
  			</a>
  			<a class="item item-icon-left item-icon-right" href="#" style="padding:0.5rem;padding-left:1.8rem;margin-top:0.2rem;border:0;">
    			<i class="icon ion-social-vimeo-outline" style="color:#7A7A7A;"></i>
    			会员中心
    			<i class="icon ion-ios-arrow-right" style="color:#D2D2D5;"></i>
  			</a>
  			<a class="item item-icon-left item-icon-right" href="#" style="padding:0.5rem;padding-left:1.8rem;">
    			<i class="icon ion-ios-cart-outline" style="color:#7A7A7A;"></i>
    			商城
    			<i class="icon ion-ios-arrow-right" style="color:#D2D2D5;"></i>
  			</a>
  			<a class="item item-icon-left item-icon-right" href="#" style="padding:0.5rem;padding-left:1.8rem;">
    			<i class="icon ion-ios-briefcase-outline" style="color:#7A7A7A;"></i>
    			在线听歌免流量
    			<i class="icon ion-ios-arrow-right" style="color:#D2D2D5;"></i>
  			</a>
  			<a class="item item-icon-left item-icon-right" href="#" style="padding:0.5rem;padding-left:1.8rem;margin-top:0.2rem;border:0;">
    			<i class="icon ion-ios-gear-outline" style="color:#7A7A7A;"></i>
    			设置
    			<i class="icon ion-ios-arrow-right" style="color:#D2D2D5;"></i>
  			</a>
  			<a class="item item-icon-left item-icon-right" href="#" style="padding:0.5rem;padding-left:1.8rem;">
    			<i class="icon ion-qr-scanner" style="color:#7A7A7A;"></i>
    			扫一扫
    			<i class="icon ion-ios-arrow-right" style="color:#D2D2D5;"></i>
  			</a>
  			<a class="item item-icon-left item-icon-right" href="#" style="padding:0.5rem;padding-left:1.8rem;">
    			<i class="icon ion-tshirt-outline" style="color:#7A7A7A;"></i>
    			个性换肤
    			 <span class="item-note" style="margin-right:1rem;">
     				 官方红
   				 </span>
    			<i class="icon ion-ios-arrow-right" style="color:#D2D2D5;"></i>
  			</a>
  			<div class="item item-icon-left item-toggle" style="padding:0.5rem;padding-left:1.8rem;">
    			<i class="icon ion-ios-lightbulb-outline" style="color:#7A7A7A;"></i>
    			夜间模式
    			<label class="toggle toggle-assertive" style="margin-top:-0.2rem;">
       				<input type="checkbox" checked="" >
      				<div class="track" style="height:1rem;">
         				<div class="handle" style="height:1rem; margin-top:-0.1rem;"></div>
       				</div>
     			</label>
  			</div>
  			<a class="item item-icon-left item-icon-right" href="#" style="padding:0.5rem;padding-left:1.8rem;">
    			<i class="icon ion-ios-time-outline" style="color:#7A7A7A;"></i>
    			定时关闭
    			<i class="icon ion-ios-arrow-right" style="color:#D2D2D5;"></i>
  			</a>
  			<a class="item item-icon-left item-icon-right" href="#" style="padding:0.5rem;padding-left:1.8rem;">
    			<i class="icon ion-ios-alarm-outline" style="color:#7A7A7A;"></i>
    			音乐闹钟
    			<i class="icon ion-ios-arrow-right" style="color:#D2D2D5;"></i>
  			</a>
  			<a class="item item-icon-left item-icon-right" href="#" style="padding:0.5rem;padding-left:1.8rem;">
    			<i class="icon ion-model-s" style="color:#7A7A7A;"></i>
    			驾驶模式
    			<i class="icon ion-ios-arrow-right" style="color:#D2D2D5;"></i>
  			</a>
  			<a class="item item-icon-left item-icon-right" href="#" style="padding:0.5rem;padding-left:1.8rem;margin-top:0.2rem;border:0;">
    			<i class="icon ion-share" style="color:#7A7A7A;"></i>
    			分享网易云音乐
    			<i class="icon ion-ios-arrow-right" style="color:#D2D2D5;"></i>
  			</a>
  			<a class="item item-icon-left item-icon-right" href="#" style="padding:0.5rem;padding-left:1.8rem;">
    			<i class="icon ion-ios-information-outline" style="color:#7A7A7A;"></i>
    			关于
    			<i class="icon ion-ios-arrow-right" style="color:#D2D2D5;"></i>
  			</a>
		</div>
		<button class="button button-full button-light" style="height:1.5rem;color:red;margin-top:-0.6rem;">退出登录</button>
	</ion-content>
</ion-view>
