<ion-view view-title="朋友" hide-nav-bar="true">
<style>
	.beijing{
		width:4.5rem;
		height:1.5rem;
		background:white;
		border-radius:20px;
	}
	.tupian{
		width:15rem;
		height:1.3rem;
		background:#F2F2F2;
		line-height:1.3rem;
		margin-top:-0.5rem;
	}
</style>
	<div class="bar bar-header bar-assertive item item-icon-left item-icon-right" style="text-align:center;">
				<i class="icon ion-person-add"></i>
				<div class="box" style="width:4rem;height:1rem;border:1px solid;border-radius:20px;;margin-left:2rem;border-color:#CACACA;">
					<span class="beijing" ng-click="toggle()" ng-style="mycolor">动态</span><sapn style="margin-left:0.8rem;" ng-click="toggle1()" ng-style="pcolor">附近</sapn>
				</div>
				<i class="icon ion-stats-bars"></i>
	</div>
	<div class="bar bar-subheader row" style="text-align:center;">
		<div class="col col-50"><i class="iocn ion-ios-list-outline" style="color:red;"></i> 发动态</div>|
		<div class="col col-65"><i class="icon ion-ios-videocam-outline" style="color:red;"></i>  发短视频</div>
	</div>
  <ion-content class="has-subheader has-header">
   <div class="list">
   	<div class="item item-avatar">
   		<img src="img/19242552997831326.jpg"/>
   		<a href="#">娱扒皮</a><p style="margin-left:3rem;margin-top:-1.2rem;">  分享单曲</p>
   		<h6 style="color:#666666;margin-top:0.5rem;font-size:0.1rem;">5月22日</h6>
   		<p style="float:right;color:red;margin-top:-2.3rem;">+关注</p>
   		<p>我想和你看绯樱漫天 我想和你看山梅遍野 我想和你看海棠春苑 “这么好的天气，就应该出来散散步，溜溜狗
   		赏赏花，吹吹风，读读书，见见我。”</p>
   		<div class="row" style="margin-left:-0.2rem;">
   			<div class="col col-33">
   				<img src="img/IMG_7372.JPG" style="width:4rem;height:3.5rem;"/>
   			</div>
   			<div class="col col-33">
   				<img src="img/IMG_7375.JPG" style="width:4rem;height:3.5rem;"/>
   			</div>
   			<div class="col col-33">
   				<img src="img/IMG_7377.JPG" style="width:4rem;height:3.5rem;"/>
   			</div>
   		</div>
   		<div class="row" style="margin-top:-1rem;margin-left:-0.2rem;">
   			<div class="col col-33">
   				<img src="img/IMG_7373.JPG" style="width:4rem;height:3.5rem;"/>
   			</div>
   			<div class="col col-33">
   				<img src="img/IMG_7376.JPG" style="width:4rem;height:3.5rem;"/>
   			</div>
   			<div class="col col-33">
   				<img src="img/IMG_7374.JPG" style="width:4rem;height:3.5rem;"/>
   			</div>
   		</div>
   		<div class="tupian">
   			<img src="img/18682901581065033.jpg" style="width:1rem;height:1.2rem;float:left;"/>
   			<h3 style="float:left;">花枝春野</h3>
   			<sapn style="margin-left:-1.8rem;color:#7A7A7A;font-size:12px;">不才</sapn>
   		</div>
   		<p style="color:#7A7A7A;font-size:13px;">----古风爱好者都在听</p>
   		<div class="row" style="margin-top:-0.5rem;">
   			<div class="col col-25">
   				<i class="icon ion-thumbsup" style="color:#7A7A7A;">292</i>
   			</div>
   			<div class="col col-25">
   				<i class="icon ion-android-textsms" style="color:#7A7A7A">41</i>
   			</div>
   			<div class="col col-25">
   				<i class="icon ion-share" style="color:#7A7A7A">40</i>
   			</div>
   			<div class="col col-25">
   				<i style="font-weight:bolder;text-align:center;color:#7A7A7A;margin-top:-1.5rem;">...</i>
   			</div>
   		</div>
   	</div>
  <div class="item item-avatar">
   		<img src="img/19242552997831326.jpg"/>
   		<a href="#">娱扒皮</a><p style="margin-left:3rem;margin-top:-1.2rem;">  分享单曲</p>
   		<h6 style="color:#666666;margin-top:0.5rem;font-size:0.1rem;">5月22日</h6>
   		<p style="float:right;color:red;margin-top:-2.3rem;">+关注</p>
   		<p>我想和你看绯樱漫天 我想和你看山梅遍野 我想和你看海棠春苑 “这么好的天气，就应该出来散散步，溜溜狗
   		赏赏花，吹吹风，读读书，见见我。”</p>
   		<div class="row" style="margin-left:-0.2rem;">
   			<div class="col col-33">
   				<img src="img/IMG_7372.JPG" style="width:4rem;height:3.5rem;"/>
   			</div>
   			<div class="col col-33">
   				<img src="img/IMG_7375.JPG" style="width:4rem;height:3.5rem;"/>
   			</div>
   			<div class="col col-33">
   				<img src="img/IMG_7377.JPG" style="width:4rem;height:3.5rem;"/>
   			</div>
   		</div>
   		<div class="row" style="margin-top:-1rem;margin-left:-0.2rem;">
   			<div class="col col-33">
   				<img src="img/IMG_7373.JPG" style="width:4rem;height:3.5rem;"/>
   			</div>
   			<div class="col col-33">
   				<img src="img/IMG_7376.JPG" style="width:4rem;height:3.5rem;"/>
   			</div>
   			<div class="col col-33">
   				<img src="img/IMG_7374.JPG" style="width:4rem;height:3.5rem;"/>
   			</div>
   		</div>
   		<div class="tupian">
   			<img src="img/18682901581065033.jpg" style="width:1rem;height:1.2rem;float:left;"/>
   			<h3 style="float:left;">花枝春野</h3>
   			<sapn style="margin-left:-1.8rem;color:#7A7A7A;font-size:12px;">不才</sapn>
   		</div>
   		<p style="color:#7A7A7A;font-size:13px;">----古风爱好者都在听</p>
   		<div class="row" style="margin-top:-0.5rem;">
   			<div class="col col-25">
   				<i class="icon ion-thumbsup" style="color:#7A7A7A;">292</i>
   			</div>
   			<div class="col col-25">
   				<i class="icon ion-android-textsms" style="color:#7A7A7A">41</i>
   			</div>
   			<div class="col col-25">
   				<i class="icon ion-share" style="color:#7A7A7A">40</i>
   			</div>
   			<div class="col col-25">
   				<i style="font-weight:bolder;text-align:center;color:#7A7A7A;margin-top:-1.5rem;">...</i>
   			</div>
   		</div>
   	</div>
   	<div class="item item-avatar">
   		<img src="img/19242552997831326.jpg"/>
   		<a href="#">娱扒皮</a><p style="margin-left:3rem;margin-top:-1.2rem;">  分享单曲</p>
   		<h6 style="color:#666666;margin-top:0.5rem;font-size:0.1rem;">5月22日</h6>
   		<p style="float:right;color:red;margin-top:-2.3rem;">+关注</p>
   		<p>我想和你看绯樱漫天 我想和你看山梅遍野 我想和你看海棠春苑 “这么好的天气，就应该出来散散步，溜溜狗
   		赏赏花，吹吹风，读读书，见见我。”</p>
   		<div class="row" style="margin-left:-0.2rem;">
   			<div class="col col-33">
   				<img src="img/IMG_7372.JPG" style="width:4rem;height:3.5rem;"/>
   			</div>
   			<div class="col col-33">
   				<img src="img/IMG_7375.JPG" style="width:4rem;height:3.5rem;"/>
   			</div>
   			<div class="col col-33">
   				<img src="img/IMG_7377.JPG" style="width:4rem;height:3.5rem;"/>
   			</div>
   		</div>
   		<div class="row" style="margin-top:-1rem;margin-left:-0.2rem;">
   			<div class="col col-33">
   				<img src="img/IMG_7373.JPG" style="width:4rem;height:3.5rem;"/>
   			</div>
   			<div class="col col-33">
   				<img src="img/IMG_7376.JPG" style="width:4rem;height:3.5rem;"/>
   			</div>
   			<div class="col col-33">
   				<img src="img/IMG_7374.JPG" style="width:4rem;height:3.5rem;"/>
   			</div>
   		</div>
   		<div class="tupian">
   			<img src="img/18682901581065033.jpg" style="width:1rem;height:1.2rem;float:left;"/>
   			<h3 style="float:left;">花枝春野</h3>
   			<sapn style="margin-left:-1.8rem;color:#7A7A7A;font-size:12px;">不才</sapn>
   		</div>
   		<p style="color:#7A7A7A;font-size:13px;">----古风爱好者都在听</p>
   		<div class="row" style="margin-top:-0.5rem;">
   			<div class="col col-25">
   				<i class="icon ion-thumbsup" style="color:#7A7A7A;">292</i>
   			</div>
   			<div class="col col-25">
   				<i class="icon ion-android-textsms" style="color:#7A7A7A">41</i>
   			</div>
   			<div class="col col-25">
   				<i class="icon ion-share" style="color:#7A7A7A">40</i>
   			</div>
   			<div class="col col-25">
   				<i style="font-weight:bolder;text-align:center;color:#7A7A7A;margin-top:-1.5rem;">...</i>
   			</div>
   		</div>
   	</div>
   </div>
   
  </ion-content>
</ion-view>
